@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.fundo {
    background-color: #7700a6;
}

.cabeca {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Press Start 2P', cursive;
    color: #defe47;
    text-shadow: 0.5rem 0.5rem #0016ee;
}

.glow {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: #defe47;
    text-align: left;
    text-shadow: 0.5rem 0.5rem #0016ee;
}

.imgperfil {
    height: 25rem;
    width: auto;
    border-radius: 4rem;
    border: 0.3rem solid #defe47;
    box-shadow: 0 0 2em #00b3fe;
}

.card {
    width: 20rem;
    height: 30rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.campo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.9;
}

.card-info {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-info h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 900;
    color: greenyellow;
}

.card-info h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 300;
    color: greenyellow;
}

.card-info p {
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    font-weight: 100;
    color: whitesmoke;
}

.card:hover .card-info p {
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: whitesmoke;
}

.card-info button {
    font-family: 'Roboto Mono', monospace;
    padding: 5px;
    font-size: 20px;
    font-weight: 900;
    color: purple;
    background-color: lightblue;
    border: none;
    border-radius: 2px;
}

.card-info:hover button {
    font-family: 'Roboto Mono', monospace;
    padding: 5px;
    font-size: 20px;
    font-weight: 900;
    color: lightblue;
    background-color: purple;
}

.rodape{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
    align-items: center;
}

.rodape h1 {
    font-family: 'Roboto Mono', monospace;
    color: #defe47;
    font-size: 1.5rem;
}

.rodape h2 {
    font-family: 'Roboto Mono', monospace;
    color: #0016ee;
    font-size: 1.5rem;
    background-color: #defe47;
    border-radius: 25rem;
}